// COLORS
$background-color: #19181a;
$secondary-color: #b19f9e;
$accent-color: #a16e83;
$sw-color: #ebc739;
$shadow-color: rgba(0, 0, 0, 0.5);


// PADDINGS & MARGINS
$regular-padding: 0.5rem;
$bigger-padding: 1rem;

$bigger-margin: 1.5rem;
$small-margin: 0.25rem;

// FONTS
$regular-font: 1rem;
$bigger-font: 1.25rem;

// BORDERS
$border-radius: 7px;

// BREAKPOINTS
$main-breakpoint: 768px;
