// COLORS
$background-color: #f5f6fb;
$grey-accent: #979da8;
$green-accent: #64cd94;
$white: #fff;
$alert: #ac2925;
$shadow-color: rgba(0, 0, 0, 0.5);
$blue-accent: #6198f3;

// PADDINGS & MARGINS
$regular-padding: 0.5rem;
$bigger-padding: 1rem;

$bigger-margin: 1.5rem;
$small-margin: 0.25rem;

// FONTS
$regular-font: 1rem;
$bigger-font: 1.5rem;

// BORDERS
$border-radius: 7px;

// BREAKPOINTS
$main-breakpoint: 768px;
