@import '../../styles/variables.scss';

.logo {
  max-width: 175px;
  height: auto;
  margin-right: $small-margin;
}

.header {
  color: $secondary-color;
  display: flex;
  justify-content: center;
  padding-top: $bigger-padding;
}
