@import "../../styles/variables";

.img {
  margin-top: $bigger-margin;
  border-radius: 100%;
  border: 4px solid $accent-color;
}

.img-small {
  width: 50px;
  height: 50px;
}

.img-big {
  width: 100px;
  height: 100px;
}
