@import '../../styles/variables';

.main-grid {
  list-style: none;
  padding: 5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.transparent-gradient {
  z-index: 50;
  display: flex;
  min-height: 100%;
  justify-content: center;
}
